{% extends "layout.html" %}
{% load static %}
{% block body %}






<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Número de facturación</th>
      <th scope="col">Año de facturación</th>
      <th scope="col">Fecha de emisión</th>
      <th scope="col">Nombre del cliente</th>
      <th scope="col">Dirección</th>
    </tr>
  </thead>
  <tbody>
  {% for factura in facturas %}
        <tr>
          <th scope="row"><a href="{% url 'linea' factura.numero_factura %}">{{ factura.numero_factura }}</a></h1></th>
          <td>{{ factura.anio }}</td>
          <td>{{ factura.fecha_emision }}</td>
          <td>{{ factura.cliente_nombre }}</td>
          <td>{{ factura.cliente_direccion }}</td>
        </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}